@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  @apply  hover:brightness-90 transition-all duration-150 ease-linear shadow-md;
  
}

.dancing-script{
  font-family: 'Dancing Script', cursive;

}
main{
  @apply min-h-screen mt-44
}

:root {
  --aero: #61b3d6ff;
  --auburn: rgb(180, 46, 41);
  --night: #141518ff;
  --midnight-blue: #341e65;
  --penn-blue: #081b54ff;
}

body{
  background-color:white;
  color: black;
}



