@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  @apply  hover:brightness-90 transition-all duration-150 ease-linear shadow-md;
  
}

main{
  @apply min-h-screen
}

:root {
  --aero: #61b3d6ff;
  --auburn: rgb(180, 46, 41);
  --night: #141518ff;
  --midnight-blue: #341e65;
  --penn-blue: #081b54ff;
}

body{
  background-color:white;
  color: black;
}


/* Example usage of the color variables */
.header {
  background-color: var(--midnight-blue);
}

.button {
  background-color: var(--auburn);
  color: white;
}

/* Gradient using aero and auburn with text clipping */
.gradient-aero-penn {
  background: linear-gradient(to right, var(--aero), var(--penn-blue));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Gradient using midnight-blue and penn-blue with text clipping */
.gradient-midnight-penn {
  background: linear-gradient(to right, var(--midnight-blue), var(--penn-blue));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Custom Gradient using aero, auburn, midnight-blue, and penn-blue with text clipping */
.gradient-custom {
  background: linear-gradient(to right, var(--aero), var(--auburn), var(--midnight-blue), var(--penn-blue));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-[var(--aero)]  to-[var(--penn-blue)];

  /* Add a white outline to the text */
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.521); /* For Webkit-based browsers (Safari and Chrome) */
  text-stroke: px white; /* Standard property, not supported in all browsers */

  /* Add a slight text shadow as a fallback */
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
}
